.navbar-size {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user-image-size {
  height: 56px;
  margin: 4px 0;
}
.main-body {
  background-color: #f5f5f5;
  background-image: linear-gradient(315deg, #f5f5f5 0%, #752306 74%);
  color: white;
  min-height: calc(100vh);
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #702109;
  margin-top: 50px;
}